.loginForm {
  display: flex;
  flex-direction: column;
  gap: 22px;

  .spinner {
    width: 30px;
    height: 30px;
    color: black;
    animation: spin 3s linear infinite;

    @keyframes spin {
      0% {
        transform: rotateZ(0deg);
      }

      100% {
        transform: rotateZ(360deg);
      }
    }
  }
}
