.userName {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  border-bottom: 1px solid var(--color-grey3);
  flex-wrap: wrap;
  gap: 5px;

  @media (min-width: 400px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.boardBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0px;
  gap: 10px;

  button {
    border: 1px solid transparent;
    border-radius: 5px;
    height: 33px;
    width: 34px;

    &:hover {
      border: 1px solid var(--color-grey1);
      border-radius: 5px;
      height: 33px;
      width: 34px;
    }
  }
}
